In [1]:
import numpy as np
import pandas as pd

import sqlite3

from collections import namedtuple
from datetime import datetime

In [2]:
sqlite3_path = './database/nanite_storage.sqlite3'

In [3]:
WordVals = namedtuple('Wordcounts', 'record_id project_id author_id Wdate Wcount Wtarget')

In [4]:
        conn = sqlite3.connect(sqlite3_path)
        cur = conn.cursor()
        cur.execute("SELECT * FROM words where project_id=?", (1,))
        row = cur.fetchall()
        data = [dict(WordVals(*row[i])._asdict()) for i in range(len(row))]
        conn.close()
        df = pd.DataFrame(data)

In [5]:
df

,Wcount,Wdate,Wtarget,author_id,project_id,record_id
0,1500,2021-03-01 00:00:00.000000,1000,1,1,1
1,2300,2021-03-02 00:00:00.000000,1000,1,1,2
2,2900,2021-03-03 00:00:00.000000,1000,1,1,3
3,3500,2021-03-04 00:00:00.000000,1000,1,1,4
4,5200,2021-03-06 00:00:00.000000,1000,1,1,5
5,6500,2021-03-07 00:00:00.000000,1000,1,1,6
6,20000,2021-03-12 00:00:00.000000,1000,1,1,7
7,22000,2021-03-12 08:00:00.000000,1000,1,1,8
8,22000,2021-03-12 08:00:00.000000,1000,1,1,9
9,22000,2021-03-27 08:00:00.000000,1000,1,1,10
10,23000,2021-05-28 08:00:00.000000,1000,1,1,11
11,24000,2021-05-29 08:00:00.000000,1000,1,1,12
12,25000,2021-05-30 08:00:00.000000,1000,1,1,14

In [6]:
df.index = pd.DatetimeIndex(df['Wdate'])

In [7]:
earliest = df.index[0]
latest = df.index[-1]

In [8]:
new_index = pd.date_range(earliest, latest, freq='D')

In [9]:
df = df.groupby(pd.Grouper(freq='D')).last()
df = df.reindex(new_index, method='ffill').reset_index()
df = df.fillna(method='ffill')
df = df.drop(columns='Wdate').rename(columns={'index':'Wdate'})

In [10]:
df

,index,Wcount,Wdate,Wtarget,author_id,project_id,record_id
0,2021-03-01,1500.0,2021-03-01 00:00:00.000000,1000.0,1.0,1.0,1.0
1,2021-03-02,2300.0,2021-03-02 00:00:00.000000,1000.0,1.0,1.0,2.0
2,2021-03-03,2900.0,2021-03-03 00:00:00.000000,1000.0,1.0,1.0,3.0
3,2021-03-04,3500.0,2021-03-04 00:00:00.000000,1000.0,1.0,1.0,4.0
4,2021-03-05,3500.0,2021-03-04 00:00:00.000000,1000.0,1.0,1.0,4.0
5,2021-03-06,5200.0,2021-03-06 00:00:00.000000,1000.0,1.0,1.0,5.0
6,2021-03-07,6500.0,2021-03-07 00:00:00.000000,1000.0,1.0,1.0,6.0
7,2021-03-08,6500.0,2021-03-07 00:00:00.000000,1000.0,1.0,1.0,6.0
8,2021-03-09,6500.0,2021-03-07 00:00:00.000000,1000.0,1.0,1.0,6.0
9,2021-03-10,6500.0,2021-03-07 00:00:00.000000,1000.0,1.0,1.0,6.0
10,2021-03-11,6500.0,2021-03-07 00:00:00.000000,1000.0,1.0,1.0,6.0
11,2021-03-12,22000.0,2021-03-12 08:00:00.000000,1000.0,1.0,1.0,9.0
12,2021-03-13,22000.0,2021-03-12 08:00:00.000000,1000.0,1.0,1.0,9.0
13,2021-03-14,22000.0,2021-03-12 08:00:00.000000,1000.0,1.0,1.0,9.0
14,2021-03-15,22000.0,2021-03-12 08:00:00.000000,1000.0,1.0,1.0,9.0
15,2021-03-16,22000.0,2021-03-12 08:00:00.000000,1000.0,1.0,1.0,9.0
16,2021-03-17,22000.0,2021-03-12 08:00:00.000000,1000.0,1.0,1.0,9.0
17,2021-03-18,22000.0,2021-03-12 08:00:00.000000,1000.0,1.0,1.0,9.0
18,2021-03-19,22000.0,2021-03-12 08:00:00.000000,1000.0,1.0,1.0,9.0
19,2021-03-20,22000.0,2021-03-12 08:00:00.000000,1000.0,1.0,1.0,9.0
20,2021-03-21,22000.0,2021-03-12 08:00:00.000000,1000.0,1.0,1.0,9.0
21,2021-03-22,22000.0,2021-03-12 08:00:00.000000,1000.0,1.0,1.0,9.0
22,2021-03-23,22000.0,2021-03-12 08:00:00.000000,1000.0,1.0,1.0,9.0
23,2021-03-24,22000.0,2021-03-12 08:00:00.000000,1000.0,1.0,1.0,9.0
24,2021-03-25,22000.0,2021-03-12 08:00:00.000000,1000.0,1.0,1.0,9.0
25,2021-03-26,22000.0,2021-03-12 08:00:00.000000,1000.0,1.0,1.0,9.0
26,2021-03-27,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
27,2021-03-28,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
28,2021-03-29,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
29,2021-03-30,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
...,...,...,...,...,...,...,...
61,2021-05-01,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
62,2021-05-02,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
63,2021-05-03,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
64,2021-05-04,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
65,2021-05-05,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
66,2021-05-06,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
67,2021-05-07,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
68,2021-05-08,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
69,2021-05-09,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
70,2021-05-10,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
71,2021-05-11,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
72,2021-05-12,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
73,2021-05-13,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
74,2021-05-14,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
75,2021-05-15,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
76,2021-05-16,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
77,2021-05-17,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
78,2021-05-18,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
79,2021-05-19,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
80,2021-05-20,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
81,2021-05-21,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
82,2021-05-22,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
83,2021-05-23,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
84,2021-05-24,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
85,2021-05-25,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
86,2021-05-26,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
87,2021-05-27,22000.0,2021-03-27 08:00:00.000000,1000.0,1.0,1.0,10.0
88,2021-05-28,23000.0,2021-05-28 08:00:00.000000,1000.0,1.0,1.0,11.0
89,2021-05-29,24000.0,2021-05-29 08:00:00.000000,1000.0,1.0,1.0,12.0
90,2021-05-30,25000.0,2021-05-30 08:00:00.000000,1000.0,1.0,1.0,14.0

In [11]:



        new_index = pd.date_range(earliest, latest, freq='D')

        df = df.groupby(pd.Grouper(freq='D')).last()
        df = df.reindex(new_index, method='ffill')
        df = df.fillna(method='ffill')
        df['Wtarget_sum'] = df['Wtarget'].cumsum()
        df['Wdate'] = df['Wdate'].apply(lambda x: x[:10])
        df['daily_words'] = [
            (df[['Wcount']].iloc[i] - df[['Wcount']].iloc[i-1]).clip(0) if i >= 1 
            else df[['Wcount']].iloc[i] for i in range(len(df))
            ]
        df['streak'] = [is_streak(i, df['Wcount'], df['Wtarget']) for i in range(len(df))]
        d_list = streak_length(df['streak'])
        df['streak'] = pd.Series(d_list, index=new_index)
        
        df = df.groupby(pd.Grouper(freq=freq)).last()
        records = df.to_dict(orient='records')

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'